

opencv-python
mediapipe
numpy
tensorflow
pyttsx3
playsound
pandas
scikit-learn


# Additional system dependency for Linux users:
# Run this BEFORE pip install if on Linux:

sudo apt update
sudo apt install espeak
